<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta name="viewport" content="width=device-width/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~ /lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="~/lib/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" asp-href-include="~/css/css.css"/>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="text-center text-black-50">Rock Paper Scissors Game</h1>
        </div>

            @RenderBody()
     
    </div>


        <div class="container">
            &copy; 2024 - Rock_Paper_Scissors - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
